<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Instadev</title>
    <link rel="stylesheet" href="~/css/style_alterarPERFIL.css" />
    <link rel="stylesheet" href="~/css/Estilo_Per.css">
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/cad_estilo.css">
    <link rel="stylesheet" href="~/css/estilo-feed.css">
    <link rel="sortcut icon" href="~/assets/instagram-logo.png" type=.png />
    <script src="https://kit.fontawesome.com/4fc272cd61.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container container_header">
            <img src="img/Instadev.png" alt="logo.Instadev">
            <div class="pesquisar_alinhar">
                <form action="#" method="post">
                    <input class="pesquisar" type="text" name="serach" id="serach" placeholder=" Pesquisar" required>
                </form>
            </div>
            <nav class="cabeçalho">
                <a href="#"><img src="img/home.png" alt=""></a>
                <a href="#"><img src="img/direct.png" alt=""></a>
                <a href="#"><img src="img/pesquisa.png" alt=""></a>
                <a href="#"><img src="img/like.png" alt=""></a>
                <a href="#"><img src="img/thank-you 1.png" alt=""></a>
            </nav>
        </div>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer>
        <div class="color">
            <p>© 2021 Instagram do Facebook</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
