<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDevFinal</title>
    <link rel="stylesheet" href="~/css/style_alterarPERFIL.css" />
</head>
<body>
    <header>
        <div class="container container_header">
            <img src="img/Instadev.png" alt="logo.Instadev">
            <div class="pesquisar_alinhar">
                <form action="#" method="post">
                    <input class="pesquisar" type="text" name="serach" id="serach" placeholder=" Pesquisar" required>
                </form>
            </div>
            <nav class="cabeçalho">
                <a href="#"><img src="img/home.png" alt=""></a>
                <a href="#"><img src="img/direct.png" alt=""></a>
                <a href="#"><img src="img/pesquisa.png" alt=""></a>
                <a href="#"><img src="img/like.png" alt=""></a>
                <a href="#"><img src="img/user.png" alt=""></a>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="color">
            <p>© 2021 Instagram do Facebook</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
